header {
    position: relative;
    color: white;
    /* border: solid red 1px; */
    font-size: 3.5vw;
    top: 35vh;
    left: 20vw;
    width: 70vw;
}

header>label {
    font-size: 2.5vw;
    position: relative;
    top: 12vh;
    /* left: 1vw; */
}

header>img {
    position: absolute;
    width: 350px;
    height: 200px;
    left: 30vw;
    top: 25vh;
    /* box-shadow: 1px 1px 1px 1px black; */
}

label {
    color: white;
    font-size: 1.3vw;
    text-shadow: 1px 1px 5px black;
}

.navegation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 5vh;
}

.proximo {
    position: relative;
    left: 30vw;
    /* border: solid red 1px; */
    transform: translateX();
}

.voltar {
    /* border: solid red 1px; */
    position: relative;
    right: 5vw;
    transform: translateX();
}

.bt_voltar {
    display: inline-block;
    border-radius: 4px;
    background-image: linear-gradient(to right, #f58e4d, #e47a3b, #d2672a, #c15319, #af3f04);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.bt_voltar:hover {
    box-shadow: 0 4px 10px rgba(187, 89, 9, 0.8);
}

.bt_voltar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bt_voltar span:after {
    content: '◄';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 5px;
    transition: 0.5s;
}

.bt_voltar:hover span {
    padding-left: 40px;
}

.bt_voltar:hover span:after {
    opacity: 1;
    left: -8px;
}

.bt_proximo {
    display: inline-block;
    border-radius: 4px;
    background-image: linear-gradient(to right, #f58e4d, #e47a3b, #d2672a, #c15319, #af3f04);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.bt_proximo:hover {
    box-shadow: 0 4px 10px rgba(187, 89, 9, 0.8);
}

.bt_proximo span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bt_proximo span:after {
    content: '►';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10px;
    transition: 0.5s;
}

.bt_proximo:hover span {
    padding-right: 30px;
}

.bt_proximo:hover span:after {
    opacity: 1;
    right: -10px;
}

.icones {
    width: 10vh;
    height: 10vh;
}

.box_de_vidro {
    position: absolute;
    top: 20vh;
    width: 22vw;
    height: 62vh;
    border: solid black 1px;
    box-shadow: 1px 8px 10px black;
    border-radius: 30px;
    /* From https://css.glass */
    background: rgba(131, 116, 88, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(187, 89, 9, 0.800);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    left: 5%;
    transform: translateX(-5%);
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: 20vh 20vh 20vh;
    grid-gap: 3px;
    /* border: solid red 1px; */
    justify-content: center;
    text-align: center;
    /* padding: 10px; */
}

.box_de_vidro>div>a>label {
    cursor: pointer;
}

.box_de_vidro>div:hover {
    cursor: pointer;
    border-radius: 4px;
    background: rgba(172, 114, 5, 0.753);
    box-shadow: 0 4px 30px rgba(187, 89, 9, 0.8);
}

footer {
    position: absolute;
    bottom: 1vw;
    color: white;
    font-size: 2.2vw;
    left: 9vw;
}