header {
    position: relative;
    color: white;
    /* border: solid red 1px; */
    font-size: 3.5vw;
    top: 35vh;
    left: 20vw;
    width: 70vw;
}

header>label {
    font-size: 2.5vw;
    position: relative;
    top: 12vh;
    /* left: 1vw; */
}

header>img {
    position: absolute;
    width: 350px;
    height: 200px;
    left: 30vw;
    top: 25vh;
    /* box-shadow: 1px 1px 1px 1px black; */
}

label {
    color: white;
    font-size: 1.3vw;
    text-shadow: 1px 1px 5px black;
}

div {
    border: solid red 1px;
    /* cursor: ; */
}

.icones {
    width: 10vh;
    height: 10vh;
}

.box_de_vidro_perfil {
    position: absolute;
    top: 50vh;
    transform: translateY(-30vh);
    left: 35vw;
    width: 60vw;
    height: 40vh;
    border: solid black 1px;
    box-shadow: 1px 8px 10px black;
    border-radius: 30px;
    /*Fromhttps:;
    //css.glass*/
    background: rgba(131, 116, 88, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(187, 89, 9, 0.800);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    -webkit-transform: translateY(-30vh);
    -moz-transform: translateY(-30vh);
    -ms-transform: translateY(-30vh);
    -o-transform: translateY(-30vh);
}

.box_de_vidro {
    position: absolute;
    top: 20vh;
    width: 22vw;
    height: 60vh;
    border: solid black 1px;
    box-shadow: 1px 8px 10px black;
    border-radius: 30px;
    /* From https://css.glass */
    background: rgba(131, 116, 88, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(187, 89, 9, 0.800);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    left: 5%;
    transform: translateX(-5%);
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: 20vh 20vh 20vh;
    /* border: solid red 1px; */
    justify-content: center;
    text-align: center;
}