    .bloco_perfil {
        /* border: solid red 1px; */
        /* margin-top: 10%; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        /* height: 100vh; */
    }
    
    .bordar_perfil {
        /* width: 100%; */
        background-color: white;
        width: 10vw;
        height: 45vh;
        border: solid white 2px;
        border-radius: 25px;
        box-shadow: 0px 0px 20px 0px black;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    .bordar_perfil>img {
        border: rgb(96, 6, 99) 1px solid;
        width: 45vw;
        height: 40vh;
        border-radius: 25px;
        box-shadow: 0px 0px 20px 0px rgb(96, 6, 99);
    }
    
    .bordar_perfil>label {
        color: rgb(96, 6, 99);
        font-size: 0.9em;
    }
    
    .bloco_foto {
        position: relative;
        /* border: solid green 1px; */
    }
    
    .texto_perfil {
        color: white;
        /* border: solid black 1px; */
        /* width: 100vh; */
        font-size: 1em;
        position: relative;
        margin-top: 5px;
        text-align: justify;
        padding: 20px;
        /* transform: translateY(-80%); */
        /* margin-left: 30vh; */
    }
    
    .numero_porcento {
        position: relative;
        top: 8px;
    }
    
    @media only screen and (max-width: 425px) {
        .bordar_perfil {
            width: 50%;
        }
    }